.suggestionBox {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid gray;
  background-color: rgb(235, 244, 254);
  overflow: hidden;
  border-radius: 2px;
  z-index: 100000;
}

.suggestions {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.suggestion {
  cursor: pointer;
  display: block;
  width: 100% !important;
  float: none !important;
  padding: 2px 2px 2px 20px;
  color: black;
  font-family: Helvetica !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-shadow: none;

  padding: 6px 2px 2px 20px;
  line-height: 1 !important;
}

.suggestion:hover {
  background-color: rgb(215, 224, 234);
}

.suggestion:not(:first-child) {
  border-top: 1px dotted gray;
}

.suggestion.selected {
  background-color: rgb(7, 68, 130) !important;
  color: white !important;
}